<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/devops.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>DevOps Page</title>
</head>
<body>

<div class="navbar">
    <div class="logo-text" onclick="location.href='/student'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/student">Home</a></li>
    </ul>

</div>

<div class="content">
    <div>
        <h3>Group 1</h3>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: John Doe</p>
        <p>Designation: Software Engineer</p>
    </div>
    
    <div>
        <h3>Front-end Team</h3>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Emily Brown</p>
        <p>Designation: Web Developer</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Sarah Williams</p>
        <p>Designation: Graphic Designer</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Alex Johnson</p>
        <p>Designation: Marketing Manager</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Michael Johnson</p>
        <p>Designation: Project Manager</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Michael Johnson</p>
        <p>Designation: Project Manager</p>
    </div>
    
    <div>
        <h3>Back-end Team</h3>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Jane Smith</p>
        <p>Designation: Data Analyst</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Michael Johnson</p>
        <p>Designation: Project Manager</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Michael Johnson</p>
        <p>Designation: Project Manager</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Michael Johnson</p>
        <p>Designation: Project Manager</p>
        <img src="img/download.png" alt="Profile Picture">
        <p>Name: Michael Johnson</p>
        <p>Designation: Project Manager</p>
    </div>
    
</div>

<div class="footer">
    &copy; 2024  Alumni Connect Application
    <br>
    <a href="/devops">DevOps Team</a>
</div>

</body>
</html>
