<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details Page</title>
    <link rel="icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="css/events.css">
</head>
<body>
    <div class="container">
        <p class="heading">ITECH DIALOGUE</p>
        <button class="back" style="background-color: lightskyblue; color: white; text-decoration: none;">
            <a style="text-decoration: none;" href="/student">BACK ></a>
        </button>
    </div>
    <hr>
    <div class="event">
        <img class="eventimg" src="img/image 6.jpg" alt="image">
        
    </div>
    <div class="cap">
        <p class="caption">DATE: 18.11.2023(SAT) 9:00 AM </p>
    </div>
    
    <p class="heading">VENUE</p>
    <hr>
    <div class="venueimg">
        <img  src="img/venue.png" alt="venue">
    </div>
</body>
</html>

