<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/jobs.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Jobs/Internships Page</title>
</head>
<div class="navbar">
    <div class="logo-text" onclick="location.href='/student'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/student">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="dropdown">
            <button class="dropbtn" style=" font-size: medium;">Connect</button>
            <div class="dropdown-content">
                <a href="#">Chat</a>
                <a href="#">Connection</a>
            </div>
        </li>
        <li class="dropdown">
            <button class="dropbtn" style="font-size: medium;">Apply</button>
            <div class="dropdown-content">
                <a href="/scholarship">Scholarship</a>
                <a href="/jobs">Jobs/Internships</a>
            </div>
        </li>
        <li style="margin-right: 0;"><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="user-dropdown">
        <img class="user-icon" src="img/user.png" alt="User Icon">
        <div class="user-dropdown-content">
            <a href="#">Settings</a>
            <a href="/">Logout</a>
        </div>
    </div>
</div>
    <div class="container">
        <div id="title">
                <div class="title-jobs-lists">
                    <p>JOBS LISTS</p>
                </div>
                <div class="title-jobs-lists1">
                    <a href="/student">BACK></a>
                </div>
        </div>
        <div class="lists">   
            <div class="left-list" id="001">
                 <div class="button">
                     <button class="button1">APPLY NOW</button>
                 </div>
            </div>
            <div class="left-list" id="002">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>            
            </div>
            <div class="left-list" id="003">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="004">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div> 
            <div class="left-list" id="005">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="006">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="007">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="008">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>