<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/jobs.css">
<link rel="icon" href="img/logo.png" type="image/x-icon">
<title>Jobs/Internships Page</title>
</head>
<body>
<%- include('header/header.ejs') %>
    <div class="container">
        <div id="title">
                <div class="title-jobs-lists">
                    <p>JOBS LISTS</p>
                </div>
                <div class="title-jobs-lists1">
                    <a href="/student">BACK></a>
                </div>
        </div>
        <div class="lists">   
            <div class="left-list" id="001">
                 <div class="button">
                     <button class="button1">APPLY NOW</button>
                 </div>
            </div>
            <div class="left-list" id="002">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>            
            </div>
            <div class="left-list" id="003">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="004">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div> 
            <div class="left-list" id="005">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="006">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="007">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
            <div class="left-list" id="008">
                <div class="button">
                    <button class="button1">APPLY NOW</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>