<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="eventdetails.css">
</head>
<body>
    <div class="container">
        <p class="heading">ITECH DIALOGUE</p>
        <p class="back">BACK ></p>
    </div>
    <hr>
    <div class="event">
        <img class="eventimg" src="/img/image 6.jpg" alt="image">
        
    </div>
    <div class="cap">
        <p class="caption">DATE: 18.11.2023(SAT) 9:00 AM </p>
    </div>
    
    <p class="heading">VENUE</p>
    <hr>
    <div class="venueimg">
        <img  src="venue.png" alt="venue">
    </div>
</body>
</html>

<style>
    body {
    margin: 40px 50px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    color: #000;
    font-family: sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: auto;
}

hr {
    width: 63px;
    height: 4px;
    background-color: #0F5CBF;
    margin: 0 ;
}

.back {
    color: #0F5CBF;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px; 
    margin-right: 0;
    display: block;
}
.event, .cap{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.eventimg
{
    width: 711px;
    height: 730px;
    flex-shrink: 0;

}
.caption{
    color: #000;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 62px;
    margin-bottom: 5%;
}
.venueimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

</style>