<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/forgot.css">
</head>
<body>

  <div class="split-container">
    <div class="split-column left-column">
      <img  class="image" src="img/psg.jpg">
    </div>
    <div class="split-column right-column">
    <h2 class="he1"><strong class="str">PSG</strong>ITECH.</h2>
    <p class="he2">Forgot password</p>
       <p class = "he3">Enter your email address to get the password reset link.</p>
     <label class="place1">Email Address</label>
    <input class="place" type="email" id="signup-email" name="signup-email" required>
    <button class="button"> Password Reset</button>
      <button class="back">Back to login</button> 
       
