<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alumni Gallery</title>
    <link rel="stylesheet" href="/css/gallery.css" />
  </head>
  <body>
    <div class="gallery-container">
      <a href="#" class="back-link">BACK &gt;</a>
      <h1 class="latest-member"><span>LATEST MEMBER</span></h1>

      <div class="gallery-row">
        <div class="gallery-item"></div>
        <div class="gallery-item"></div>
        <div class="gallery-item"></div>
      </div>

      <div class="image-row1">
        <img src="img/unnamed.jpg" alt="Image 1" />
        <img src="img/unnamed.jpg" alt="Image 2" />
        <img src="img/unnamed.jpg" alt="Image 3" />
        <img src="img/unnamed.jpg" alt="Image 4" />
      </div>

      <div class="image-row2">
        <img src="img/unnamed.jpg" alt="Image 5" />
        <img src="img/unnamed.jpg" alt="Image 6" />
        <img src="img/unnamed.jpg" alt="Image 7" />
      </div>

      <div class="image-row3">
        <img src="img/unnamed.jpg" alt="Image 8" />
        <img src="img/unnamed.jpg" alt="Image 9" />
      </div>
    </div>
  </body>
</html>
