<head>
    <link rel="stylesheet" href="css/jobs.css">
    <link rel="stylesheet" href="">
    
</head>
<body>
<div class="container">
    <!--<nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Navbar</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>-->
    <div id="title">
            <div class="title-jobs-lists">
                <p>INTERSHIP LISTS</p>
            </div>
            <div class="title-jobs-lists1">
                <p>BACK></p>
            </div>
    </div>
    <div class="lists">   
        <div class="left-list" id="001">
             <div class="button">
                 <button class="button1">APPLY NOW</button>
             </div>
        </div>
        <div class="left-list" id="002">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>            
        </div>
        <div class="left-list" id="003">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>
        </div>
        <div class="left-list" id="004">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>
        </div> 
        <div class="left-list" id="005">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>
        </div>
        <div class="left-list" id="006">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>
        </div>
        <div class="left-list" id="007">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>
        </div>
        <div class="left-list" id="008">
            <div class="button">
                <button class="button1">APPLY NOW</button>
            </div>
        </div>
    </div>
</div>
</body>