body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    padding: 0 20px; 
}

.logo-text {
    color: white;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 38%;
    margin-right: 20px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 10px;
    display: block;
    font-size: medium;
    transition: background-color 0.3s;
}

.navbar a:hover,
.navbar a.active {
    background-color: #0056b3; 
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    color: white;
    padding: 14px 10px; 
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-dropdown {
    position: relative;
    margin-left: 20px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px; 
    right: 0; 
}

.user-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-dropdown-content a:hover {
    background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}
  h2 {
    color: red;
    font-family: verdana;
    font-size: 160%;
  }
  p {
    color: black;
    font-family: Times new roman;
    font-size: 110%;
  }
  ul {
    font-family: times new roman;
    font-size: 110%;
  }
  
  .top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }