body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    padding: 0 20px; 
}

.logo-text {
    color: white;
    font-size: x-large;
    font-weight: bold;
    cursor: pointer;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 43%;
    margin-right: 20px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 10px;
    display: block;
    font-size: medium;
    transition: background-color 0.3s;
}

.navbar a:hover,
.navbar a.active {
    background-color: #0056b3; 
}

.dropdown {
    position: relative;
}

.dropdown .dropbtn {
    color: white;
    padding: 14px 10px; 
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.user-dropdown {
    position: relative;
    margin-left: 20px;
}

.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px; 
    right: 0; 
}

.user-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-dropdown-content a:hover {
    background-color: #ddd;
}

.user-dropdown:hover .user-dropdown-content {
    display: block;
}

.content {
    padding: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%; 
    min-width: 300px; 
    border: 1px solid #ccc;
}

.flex-container-wrapper {
    position: relative;
}

.flex-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.flex-item {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px; 
}

.flex-item h2 {
    margin: 0;
}

.view-option {
    text-align: center;
}
.flex-heading {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    color: #333;
    z-index: 1;
}

.view-more {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #007bff;
    text-decoration: none;
}

.view-more:hover {
    text-decoration: underline;
}

.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .navbar {
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        flex-direction: column;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .user-dropdown {
        margin-left: 0;
        margin-top: 10px;
    }

    .user-dropdown-content {
        right: initial;
        left: 0; 
    }
}