<div class="navbar">
    <div class="logo-text" onclick="location.href='/student'"><strong>PSG iTech Alumni Connect Application</strong></div>
    <ul>
        <li><a href="/student">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li class="dropdown">
            <button class="dropbtn" style=" font-size: medium;">Connect</button>
            <div class="dropdown-content">
                <a href="#">Chat</a>
                <a href="#">Connection</a>
            </div>
        </li>
        <li class="dropdown">
            <button class="dropbtn" style="font-size: medium;">Apply</button>
            <div class="dropdown-content">
                <a href="/scholarship">Scholarship</a>
                <a href="/jobs">Jobs/Internships</a>
            </div>
        </li>
        <li style="margin-right: 0;"><a href="/contact">Contact Us</a></li>
    </ul>
    <div class="user-dropdown">
        <img class="user-icon" src="img/user.png" alt="User Icon">
        <div class="user-dropdown-content">
            <a href="#">Settings</a>
            <a href="/">Logout</a>
        </div>
    </div>
</div>